<div class="shadowBox">
  <div>
    <div class="bounce" *ngIf="this.loading">
      <div class="loading"></div>
    </div>
    <img
      class="postImage"
      *ngIf="!this.loading"
      src="{{ this.currentImage }}"
    />
  </div>
</div>

<div class="navigation" *ngIf="!this.loading">
  <app-arrow class="back" (click)="this.prevPost()"></app-arrow>
  <div class="clearfix"></div>
  <app-arrow class="forward" (click)="this.nextPost()"></app-arrow>
</div>

<div class="controller">
  <input #subInput type="text" />
  <button (click)="this.checkSub(subInput.value)">Submit</button>
  <button (click)="this.newSub()">New Sub</button>
</div>
